.signup{
    border: 2px solid black;
    width: 50%;
    text-align: center;
}

.btn{
    background-color: black;
    color: white;
    padding: 6px 25px;
    margin-bottom: 20px;
}


.fullDetail{
    display: block;
}

.color{
    color: blue;
    cursor: pointer;
}